@import "tailwindcss";

:root {
  --primary: #0cb3cb;
  --text-primary: #333;
}

.dark {
  --primary: #0cb3cb;
  --text-primary: #ddd;
}

@theme {
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
}