@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fff;
  --text-primary: #333;
}

.dark {
  --background: #121212;
  --text-primary: #eee;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}

@theme {
}

.theme-toggler svg {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.theme-toggler .sun-icon {
  transform: rotate(0deg);
  opacity: 1;
}

.theme-toggler .moon-icon {
  transform: rotate(90deg);
  opacity: 0;
}

.dark .theme-toggler .sun-icon {
  transform: rotate(90deg);
  opacity: 0;
}

.dark .theme-toggler .moon-icon {
  transform: rotate(0deg);
  opacity: 1;
}